*.class
*.log

src/main/scala/playground/*

# SBT ignore
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/target/
project/plugins/project/

# Intellij idea
.scala_dependencies
.idea/*
*.iml
